.timer_wrapper {
    background: rgba(10, 1, 23, 0.8);
    backdrop-filter: blur(7px);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 195px;
    padding: 10px 16px;
}