
.imageWrapper {
	position: absolute;
	width: 1698px;
	height: 1698px;
	left: 46%;
    top: -62%;

	background: radial-gradient(45% 57.79% at 50% 50%, #12215D 0%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.9;
}

.imageWrapperMobile {
	position: absolute;
	width: 1534px;
	height: 1534px;
    left: -153%;
    top: 43%;

	background: radial-gradient(57.79% 57.79% at 50% 50%, #12215D 0%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.9;
}
