# Поставить в начало точку (.), и убрать (.example). Необходим для локальной разработки.
REDIS_URL="redis://127.0.0.1:6379"
NEXT_PUBLIC_BASE_PATH=
FILE_SERVICE_USERNAME=nftbackend@no.no
FILE_SERVICE_PASSWORD=8yfz537z3yr7h99w
NEXT_PUBLIC_ORIGIN=https://nftdev.nnmdev.ru
API=https://nftdev.nnmdev.ru
