.wrapper {
    @apply relative flex flex-col items-center text-center text-white w-[100%];
	opacity: 0.9;
}

.imageWrapperMobile {
	position: absolute;
    width: 800px;
    height: 800px;
    left: 36%;
    top: -31%;
    background: radial-gradient(37.1% 43.1% at 42.19% 46.69%, #414E78 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.7;
}

.imageWrapper {
	position: absolute;
    width: 1043px;
    height: 1074px;
	left: 64%;
    top: -63%;

	background: radial-gradient(52.6% 52.6% at 50% 50%, #414E78 0%, rgba(13, 4, 17, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	opacity: 0.7;}

@screen lg {
    .wrapper {
        height: auto;
    }
}
