.method_item {
    @apply font-primary lg:w-[348px] w-full;
    background: linear-gradient(90deg, #006EEF 0%, #00CEEA 100%);
    border-radius: 12px;
    flex: none;
    flex-grow: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 21px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
