.wrapper {
    @apply relative flex flex-col items-center text-center text-white w-[100%];
    background: #010608;
}

.linksBlockMobile {
	align-items: center;
}
.linksBlock {
	align-items: left;
}

.linkText {
	z-index: 10;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	background: linear-gradient(90deg, #1282E4 0%, #0FD3E1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.linkText:hover {
	background: white;
    background-clip: text;
}

.imageWrapper {
	z-index: -5;
	position: absolute;
	width: 400px;
    height: 700px;
    left: -30%;
    top: -32px;

	background: radial-gradient(58.31% 50% at 50% 50%, #4C2500 0%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.74;
	transform: rotate(-80.53deg);
}

.imageWrapperSecond {
	position: absolute;
	width: 537px;
	height: 540px;
	left: -228px;
	top: 0px;

	background: radial-gradient(58.31% 50% at 50% 50%, #4C2500 0%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.74;
	transform: rotate(-90deg);
}

@screen lg {
    .wrapper {
        height: auto;
    }

	.linkText {
		text-align: left;
	}
}