.logo {
    @apply font-primary;
    font-weight: 700;
    font-size: 12px;
    line-height: 88%;

    background: linear-gradient(90deg, #1282E4 0%, #0FD3E1 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

@screen lg {
    .logo {
        font-size: 18px;
    }
}