.wrapper {
    @apply relative flex flex-col items-center text-center text-white w-[100%];
	opacity: 0.9;
}

.imageWrapper {
	position: absolute;
	width: 199%;
    height: 300px;
    left: -42%;
    top: 0%;

	background: radial-gradient(52.6% 52.6% at 50% 50%, #414E78 0%, rgba(13, 4, 17, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	opacity: 0.7;
}
.imageWrapperSecond {
	position: absolute;
    width: 100%;
    height: 331px;
    left: -34%;
    top: -15%;

	background: radial-gradient(52.6% 52.6% at 50% 50%, #414E78 0%, rgba(13, 4, 17, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	opacity: 0.7;
}

@screen lg {
    .wrapper {
        height: auto;
    }
}
